<div class="container">

  <!-- The justified navigation menu is meant for single line per list item.
       Multiple lines will require custom code not provided by Bootstrap. -->
  <div class="masthead">
    <h3 class="text-muted">MyGithub Search</h3>
    <nav>
      <ul class="nav nav-justified">
        <li><a routerLink="" routerLinkActive="active">Home</a></li>
        <li><a routerLink="profile" routerLinkActive="active">Search User Profile</a></li>
        <li><a routerLink="searchRepos" routerLinkActive="active">Search Repos</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h2>Github Search</h2>
    <p class="lead">Application de recherche d'information sur le celebre site de partage de code source</p>
  </div>
</div>
<div class="container">
  <!--<app-profile></app-profile>-->
  <router-outlet></router-outlet>
  <footer class="footer">
    <p>© AtoS 2017</p>
  </footer>
</div>
